a {
    transition: 0.3s all ease-out;
    color: rgb(255, 255, 255);
}

a:hover {
    transition: 0.3s all ease-out;
    color: rgb(202, 17, 17);
}

h1 {
    font-family: 'Roboto', sans-serif;
    transition: 0.3s all ease-out;
    color: rgb(255, 255, 255);
}

h1:hover {
    transition: 0.3s all ease-out;
    color: rgb(255, 255, 255);
    text-shadow: 3px 8px 8px rgb(226, 206, 206);
}

#content {
    width: 99%;
    margin: auto;
    bottom: 50%;
    display: inline-block;
    position: absolute;
    text-align: center;
    font-size: 2em;
}