a {
    transition: 0.3s all ease-out;
    color: rgb(255, 255, 255);
}

a:hover {
    transition: 0.3s all ease-out;
    color: rgb(202, 17, 17);
    cursor: default;
}


#content {
    width: 99%;
    margin: auto;
    bottom: 50%;
    display: inline-block;
    position: absolute;
    text-align: center;
    font-size: 7em;
    line-height: 1%;
    font-family: 'Roboto', sans-serif;
}